@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
    text-decoration: none;
    list-style: none;
    /* overflow-x: hidden; */
}

:root {
    --blanco: #fff;
    --black: #000;
    --azul-oscuro: #1e2326;
    --azul-oscuro2: #252A2E;
    --gris-oscuro: #131517;
    --verde: #1CB698;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 2px;
    background-color: var(--gris-oscuro);
}

html::-webkit-scrollbar-thumb {
    background: var(--verde);
    border-radius: 20px;
}

/* SECTION HEADER */

.contenedor-header {
    background: var(--azul-oscuro);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--azul-oscuro);
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    color: var(--verde);
    font-size: 32px;
}

.contenedor-header header ul {
    display: flex;
}

.contenedor-header header nav ul li a {
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    text-transform: uppercase;
    display: inline-block;
    color: var(--blanco);
    transition: 0.15s ease-in-out;
    position: relative;
}

.contenedor-header header nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--verde);
    transition: 0.15s ease-in-out;
}

.contenedor-header li a:hover:after {
    width: 100%;
}

.contenedor-header header nav ul li a:hover {
    color: var(--verde);
}

.nav-responsive {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/* SECTION INICIO */


.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
    url(/IMG/background.png);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
    color: var(--blanco);
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: var(--azul-oscuro);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--verde);
}

.inicio .contenido-banner img {
    display: block;
    width: 60%;
    margin: auto;
}

.inicio .contenido-banner h1 {
    font-size: 36px;
    font-family: 'Righteous';
    margin-bottom: 5px;
}

.inicio .contenido-banner h2 {
    font-size: 18px;
    font-weight: normal;
}

.inicio .contenido-banner .redes {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.inicio .contenido-banner .redes a {
    color: var(--blanco);
    display: inline-block;
    border: 2px solid var(--verde);
    border-radius: 100%;
    width: 52px;
    height: 52px;
    line-height: 40px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .contenido-banner .redes a:hover {
    background-color: var(--verde);
}

/* SECTION ABOUT ME */

.about_me {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}

.about_me .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.about_me h2 {
    font-size: 48px;
    text-align: center;
    font-family: 'Righteous';
    padding: 30px 0;
}

.about_me .contenido-seccion p {
    display: flex;
    justify-content: center;
    line-height: 20px;
    margin: 20px 0px 40px 0px;
    width: 100%;
}

.about_me .contenido-seccion p span {
    color: var(--verde);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    letter-spacing: 3px;
}

.about_me h3 {
    font-size: 26px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
}

.about_me .contenido-seccion .versions {
    display: flex;
    flex-direction: column;
    margin: 80px 0px 30px 0px;
}

.about_me .contenido-seccion .versions p {
    display: flex;
    justify-content: center;
    font: 18px;
    height: 2px;
    width: 100%;
}

.about_me .contenido-seccion .versions p i {
    margin: 0 30px 0 50px;
}

.about_me .contenido-seccion .versions p span {
    color: var(--verde);
    font-size: 18px;
    display: flex;
    width: 400px;
    justify-content: flex-start;
}

.about_me .cv {
    display: flex;
}

.about_me .cv button {
    background-color: transparent;
    border: 2px solid var(--blanco);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 18px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.about_me .cv button a {
    color: var(--blanco);
}

.about_me .cv button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--verde);
    z-index: -1;
    transition: 0.5s;
}

.about_me button:hover .overlay {
    width: 100%;
}



/* SECTION SKILLS */

.skills {
    background-color: var(--azul-oscuro2);
    color: var(--blanco);
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.skills .contenido-seccion .hr {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
} 

.skills .contenido-seccion hr {
    border: 1px solid var(--azul-oscuro);
    width: 60%;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: var(--gris-oscuro);
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: var(--verde);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--verde);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.skills .language {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills .english-progress {
    margin: 50px 0 30px 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.skills .english-progress h3 {
    font-size: 28px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}

.skills .english-progress .barra-skill {
    display: flex;
    width: 100%;
}

.skills .english-progress .barra-skill .span1 {
    display: flex;
    justify-content: center;
    background-color: var(--verde);
    right: 94%;
    top: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0 35px;
}

.skills .english-progress .barra-skill .span2 {
    display: flex;
    justify-content: center;
    background-color: var(--verde);
    right: 74%;
    top: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0 35px;
}

.skills .english-progress .barra-skill .span3 {
    display: flex;
    justify-content: center;
    background-color: var(--gris-oscuro);
    left: 54%;
    top: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0 35px;
}

.skills .english-progress .barra-skill .span4 {
    display: flex;
    justify-content: center;
    background-color: var(--gris-oscuro);
    left: 74%;
    top: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0 35px;
}

.skills .english-progress .barra-skill .span5 {
    display: flex;
    justify-content: center;
    background-color: var(--gris-oscuro);
    left: 94%;
    top: 0px;
    border-radius: 0 0 10px 10px;
    padding: 0 35px;
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills .skill .nodejs{
    width: 0%;
    animation: 2s nodejs forwards;
}

@keyframes nodejs {
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills .skill .mysql{
    width: 0%;
    animation: 2s mysql forwards;
}

@keyframes mysql {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}

@keyframes communication {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creativity{
    width: 0%;
    animation: 2s creativity forwards;
}

@keyframes creativity {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}

@keyframes proyect {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .dedication{
    width: 0%;
    animation: 2s dedication forwards;
}

@keyframes dedication {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .english{
    width: 0%;
    animation: 2s english forwards;
}

@keyframes english {
    0%{width: 0%;}
    100%{width: 41%;}
}


/* SECTION CURRICULUM */

.curriculum {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.curriculum .fila .derecha h3 {
    margin-left: 20px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid var(--azul-oscuro2);
}

.curriculum .fila .derecha {
    border-left: 2px solid var(--azul-oscuro2);
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--azul-oscuro2);
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .institution {
    color: var(--verde);
    font-size: 24px;
    display: block;
    text-transform: uppercase;
}

.curriculum .fila .item .business {
    color: var(--verde);
    font-size: 24px;
    display: block;
    text-transform: uppercase;
}

.curriculum .fila .item .fecha {
    display: block;
    color: var(--verde);
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid var(--verde);
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid var(--verde);
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: var(--verde);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--verde);
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: var(--verde);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--verde);
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECTION PORTFOLIO */

.portfolio {
    background-color: var(--azul-oscuro2);
    color: var(--blanco);
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 20px;
}

.portfolio .container-proyect {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 350px;
    align-items: center;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 10px;
    background-color: var(--azul-oscuro);
}

.portfolio .container-proyect h3 {
    margin: 10px 5px;
    font-size: 20px;
}

.portfolio .container-proyect .hr {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
} 

.portfolio .container-proyect hr {
    border: 1px solid var(--verde);
    width: 60%;
}

.portfolio .container-proyect .tech {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.portfolio .container-proyect h3, 
.portfolio .container-proyect hr,
.portfolio .container-proyect .tech-titles,
.portfolio .container-proyect .tech-titles span {
    display: none;
}

.portfolio .container-proyect ul {
    margin-bottom: 20px;
}

.portfolio .galeria .proyecto {
    position: relative;
    cursor: pointer;
    width: 300px;
    height: 350px;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid var(--verde);
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 151, 0.9), rgba(28, 182, 152, 0.9));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0;
    border-radius: 10px;
    color: var(--blanco);
    padding: 0px 5px;
}

.portfolio .galeria .proyecto .overlay .hr2 {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .galeria .proyecto .overlay hr {
    width: 20%;
    display: flex;
    border: 1px solid var(--azul-oscuro2);
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 100px;
    transition: 0.5s;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    font-size: large;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 10px;
}

.portfolio .container-proyect .redes {
    display: flex;
    gap: 1.2rem;
}

.portfolio .container-proyect .redes a {
    color: var(--blanco);
    display: inline-block;
    border: 2px solid var(--verde);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 40px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .container-proyect .redes a:hover {
    background-color: var(--verde);
}

/* SECTION CONTACT */

.contact {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    padding: 50px 0;
}

.contact .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contact h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact .fila {
    display: flex;
}

.contact .col {
    display: flex;
    width: 100%;
    padding: 10px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.contact .col form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact .col input, .contact .col textarea {
    display: block;
    width: 50%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--azul-oscuro2);
    color: var(--blanco);
    font-size: 18px;
}

.contact button {
    background-color: transparent;
    border: 2px solid var(--blanco);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 18px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    color: var(--blanco);
}

.contact button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--verde);
    z-index: -1;
    transition: 0.5s;
}

.contact button:hover .overlay {
    width: 100%;
} 

/* SECTION FOOTER */

footer {
    background-color: var(--azul-oscuro2);
    color: var(--blanco);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

footer .redes a {
    color: var(--blanco);
    display: inline-block;
    border: 2px solid var(--verde);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 40px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes a:hover {
    background-color: var(--verde);
}

footer .up {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--verde);
    color: var(--blanco);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    border-radius: 50%;
    line-height: 50px;
}

footer .grupo-2 {
    background-color: var(--azul-oscuro);
    padding: 20px 10px;
    text-align: center;
    color: var(--blanco);
    max-height: max-content;
    margin-bottom: -30px;
}

footer .grupo-2 small {
    font-size: 15px;
    padding: 5px 10px;
}

/* SECTION RESPONSIVE */

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: rgba(0, 0, 0, 0.874) ;
        width: 100%;
        height: 100vh;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        /* border-bottom: 1px solid var(--blanco); */
        padding: 25px 0;
        font-size: 18px;
        text-align: center;
    }

    .contenedor-header header nav ul li a {
        text-align: none;
        margin: 0 15px;
        padding: 3px;
        text-transform: uppercase;
        display: inline-block;
        color: var(--verde);
        transition: 0.15s ease-in-out;
        position: relative;
    }
    
    .contenedor-header header nav ul li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--verde);
        transition: 0.15s ease-in-out;
    }

    .portfolio .container-proyect {
        height: 580px;
        justify-content: flex-end;
    }

    .portfolio .container-proyect h3,
    .portfolio .container-proyect .tech-titles,
    .portfolio .container-proyect .tech-titles span,
    .portfolio .container-proyect hr {
        display: flex;
    }

    .portfolio .container-proyect .hr,
    .portfolio .container-proyect .tech-titles {
        margin-bottom: 10px;
    }

    .portfolio .galeria .proyecto .overlay {
        display: none;
    }
}

@media screen and (max-width:700px) {
    
    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .skills .fila .col h3 {
        margin-top: 40px;
    }

    .skills .english-progress .barra-skill .s {
        padding: 0 0;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        min-width: 100%;
    }

    .curriculum .fila .izq {
        margin-right: 0;
    }

    .curriculum .fila .der {
        margin-left: 0;
        border-right: 2px solid var(--verde);
        border-left: none;
    }

    .curriculum .fila .izquierda {
        border: none;
    }

    .curriculum .fila .derecha {
        border: none;
    }

    .curriculum .fila .derecha h3 {
        margin-left: 0;
    }
    
    .curriculum .fila .item .conectori, .conectord {
        display: none;
    }

    .contact .fila {
        display: block;
    }

    .contact .fila .col {
        width: 100%;
    }

    .contact .fila .col input, textarea {
        min-width: 90%;
    }
}

@media screen and (max-width:719px) {
    .portfolio .container-proyect {
        height: auto;
    }

    .portfolio .container-proyect h3 {
        margin: 20px 5px;
    }
}